@font-face {
    font-family: 'Noto Sans';
    src: url('./../font/NotoSans-Regular.ttf');
}
@font-face {
    font-family: 'Prompt';
    src: url('./../font/Prompt-Regular.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('./../font/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Bitter';
    src: url('./../font/static/Bitter-Regular.ttf');
}

.display-none {
    display: none;
}

body {
    background-color: #f6f1f1;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    cursor: default;
    user-select: none;
}

.back {
    position: absolute;
    margin: 0 10px;
}
.back img {
    width: 2rem;
    cursor: pointer;
    transition: linear 100ms;
}
.back img:hover {
    transform: scale(1.2);
}

.container {
    margin: 10px;
    /* padding: 3vh 3rem; */
}

.container .upper-content {
    margin-bottom: 10px;
}
.container .upper-content .title {
    text-align: center;
    color: #146C94;
}
.container .upper-content .content {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    background-color: white;
    margin: 0 1rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: auto;
    transition: linear 300ms;
}
.container .upper-content .content:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.container .upper-content .content .row {
    flex-grow: 1;
    margin: 10px;
    display: grid;
}
.container .upper-content .content .row:last-child {
    flex-grow: 10;
}
.container .upper-content .content .row label {
    margin-bottom: 5px;
}
.container .upper-content .content .row input, .container .upper-content .content .row select {
    transition: linear 100ms;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container .upper-content .content .row input:hover, .container .upper-content .content .row select:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.container .upper-content .content .row .buyer:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.container .middle-content {
    margin-bottom: 10px;
}
.container .middle-content .content {
    margin-bottom: 10px;
    background-color: white;
    margin: 0 1rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: auto;
    transition: linear 300ms;
}
.container .middle-content .content:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.container .middle-content .content table {
    border-collapse: collapse;
    width: 100%;
}
.container .middle-content .content table thead tr th {
    border: solid 1px lightgray;
    color: #fff;
    background-color: #146C94;
    padding: 5px 1rem;
}
.container .middle-content .content table thead tr th:first-child {
    border-radius: 5px 0 0 0;
    border-top: none;
    border-left: none;
}
.container .middle-content .content table thead tr th:last-child {
    border-radius: 0 5px 0 0;
    border-top: none;
    border-right: none;
}
.container .middle-content .content table tbody tr {
    transition: linear 200ms;
}
/* .container .middle-content .content table tbody tr:nth-child(odd):active {
    background-color: #19A7CE;
} */
.container .middle-content .content table tbody tr:nth-child(even) {
    background-color: #e3e3e3;
}
/* .container .middle-content .content table tbody tr:nth-child(even) td {
    border: solid 1px white
} */
/* .container .middle-content .content table tbody tr:nth-child(odd) td {
    border: solid 1px #bcbcbc
} */

.number-input, .price-input {
    display: flex;
    align-items: center;
    padding: 0 .2vw;
}

.number-input input, .price-input input {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    text-align: center;
}
.price-input input {
    border-right: solid 1px black;
    border-radius: 0 5px 5px 0;
}
.price-input .currency {
    border-radius: 5px 0 0 5px;
    background-color: #146C94;
    color: white;
}

.number-input div, .price-input div {
    height: 100%;
    margin: 0;
    padding: 0px .5vw;
    background-color: #eee;
    border: solid 1px black;
    cursor: pointer;
    user-select: none;
}
.number-input .decrement {
    border-right: none;
    border-radius: 5px 0 0 5px;
}
.number-input .increment {
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.number-input div:hover {
    background-color: #ddd;
}

.number-input div:active {
    background-color: #ccc;
}
.number-input input::-webkit-inner-spin-button, .number-input input::-webkit-outer-spin-button, .price-input input::-webkit-inner-spin-button, .price-input input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.number-input input[type="number"], .price-input input[type="number"] {
    -moz-appearance-: textfield;
}

.container .middle-content .add-row {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container .middle-content .add-row img {
    width: 2rem;
    height: 2rem;
    margin: 5px 2.5px;
}
.container .middle-content .add-row .add-row-btn {
    background-color: #ccc;
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.container .middle-content .add-row .add-row-btn:hover {
    background-color: #ddd;
}
.container .middle-content .add-row .add-row-btn:active {
    background-color: #ccc;
}

.container .bottom-content {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.container .bottom-content .content {
    position: relative;
    flex-grow: 2;
    background-color: white;
    margin: 0 1rem;
    margin-bottom: 10px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: auto;
    transition: linear 300ms;
}
/* .container .bottom-content .content:last-child {
    margin-left: 5px;
}
.container .bottom-content .content:first-child {
    margin-right: 5px;
} */
.container .bottom-content .content:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.container .bottom-content .content .single-box-input, .container .bottom-content .content select, .container .bottom-content .content textarea  {
    transition: linear 100ms;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container .bottom-content .content textarea {
    height: 7.5rem;
    resize: none;
    font-size: small;
}
.container .bottom-content .content input:hover, .container .bottom-content .content select:hover, .container .bottom-content .content textarea :hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.fee-input {
    display: flex;
    align-items: center;
    /* padding: 0 .2vw; */
    margin: 8px 0;
}
.container .bottom-content .content .fee-input input {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
    border-top: solid 1px #146C94;
    border-bottom: solid 1px #146C94;
    /* text-align: center; */
    border-right: solid 1px #146C94;
    border-radius: 0 5px 5px 0;
}
.fee-input .currency {
    border-radius: 5px 0 0 5px;
    background-color: #146C94;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0 .5vw;
    user-select: none;
    border: solid 1px #146C94;
}

.delivery-status {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: cubic-bezier(0.23, 1, 0.320, 1) 500ms;
}


.empty {
    height: 5rem;
}

.footer {
    position: fixed;
    bottom: 0;
    font-size: xx-small;
    color: gray;
}





























/* checkbox style */
.checkbox-wrapper-35 .switch {
    display: none;
  }

  .checkbox-wrapper-35 .switch + label {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkbox-wrapper-35 .switch + label::before,
  .checkbox-wrapper-35 .switch + label::after {
    content: '';
    display: block;
  }

  .checkbox-wrapper-35 .switch + label::before {
    background-color: #05012c;
    border-radius: 500px;
    height: 15px;
    margin-right: 8px;
    -webkit-transition: background-color 0.125s ease-out;
    transition: background-color 0.125s ease-out;
    width: 35px;
  }

  .checkbox-wrapper-35 .switch + label::after {
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
    height: 13px;
    left: 1px;
    position: absolute;
    top: 1px;
    -webkit-transition: -webkit-transform 0.125s ease-out;
    transition: -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out;
    transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
    width: 13px;
  }

  .checkbox-wrapper-35 .switch + label .switch-x-text {
    display: block;
    margin-right: .5em;
  }

  .checkbox-wrapper-35 .switch + label .switch-x-toggletext {
    display: block;
    font-weight: bold;
    height: 15px;
    overflow: hidden;
    position: relative;
    width: 20px;
  }

  .checkbox-wrapper-35 .switch + label .switch-x-unchecked,
  .checkbox-wrapper-35 .switch + label .switch-x-checked {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  }

  .checkbox-wrapper-35 .switch + label .switch-x-unchecked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  .checkbox-wrapper-35 .switch + label .switch-x-checked {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  .checkbox-wrapper-35 .switch + label .switch-x-hiddenlabel {
    position: absolute;
    visibility: hidden;
  }

  .checkbox-wrapper-35 .switch:checked + label::before {
    background-color: #146C94;
}

.checkbox-wrapper-35 .switch:checked + label::after {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(20px, 0, 0);
}

.checkbox-wrapper-35 .switch:checked + label .switch-x-unchecked {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-35 .switch:checked + label .switch-x-checked {
    opacity: 1;
    color: #146C94;
    -webkit-transform: none;
    transform: none;
}
.checkbox-wrapper-35 .switch:checked + label {
    color: black;
}