<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/setting.css">
    <title>Settings</title>
</head>
<body>

    <!-- navbar / sidebar -->
    <div class="nav-btn" data-status="close"><img src="img/menu-blue.png" alt=""></div>
    <div class="nav-open display-none"></div>
    <div class="navbar">
        <div class="card" data-href="/home"><span class="img"><img src="img/homepage.png" alt=""></span><span>Beranda</span></div>
        <div class="card" data-href="/product"><span class="img"><img src="img/box.png" alt=""></span><span>Produk</span></div>
        <div class="card" data-href="/selling"><span class="img"><img src="img/cart1.png" alt=""></span><span>Penjualan</span></div>
        <div class="card" data-href="/purchase"><span class="img"><img src="img/cart.png" alt=""></span><span>Pembelian</span></div>
        <div class="card" data-href="/expenses"><span class="img"><img src="img/expenses.png" alt=""></span><span>Pengeluaran</span></div>
        <div class="card" data-href="/inclusion"><span class="img"><img src="img/rupiah.png" alt=""></span><span>Pemasukan Lain</span></div>
        <div class="card" data-href="/report"><span class="img"><img src="img/graph.png" alt=""></span><span>Laporan</span></div>
        <div class="card actived" data-href="/setting"><span class="img"><img src="img/settings.png" alt=""></span><span>Pengaturan</span></div>
    </div>

    <div class="container">
        <div class="first-content content">
            <div class="title"><h2>Rekening</h2></div>
            <div class="box">
                <div class="box-list" data-href="/setting/account">
                    <img src="img/clipboard.png" alt="">
                    <p>Info Rekening</p>
                </div>
                <div class="box-list" data-href="/setting/inventory">
                    <img src="img/shipping.png" alt="">
                    <p>Stok Awal</p>
                </div>
                <div class="box-list" data-href="/setting/closing-book">
                    <img src="img/book1.png" alt="">
                    <p>Tutup Buku</p>
                </div>
            </div>
        </div>
        <div class="second-content content">
            <div class="title"><h2>Profil</h2></div>
            <div class="box">
                <div class="box-list" data-href="/setting/profile">
                    <img src="img/user.png" alt="">
                    <p>Info Profil</p>
                </div>
                <div class="box-list" data-href="/setting/profile/edit">
                    <img src="img/user-avatar.png" alt="">
                    <p>Edit Profil</p>
                </div>
                <div class="box-list" data-href="/setting/user">
                    <img src="img/add-friend.png" alt="">
                    <p>Tambah User</p>
                </div>
            </div>
        </div>
        <div class="third-content content">
            <div class="title"><h2>Pengaturan Aplikasi</h2></div>
            <div class="box">
                <div class="box-list" data-href="/setting/application">
                    <img src="img/setting1.png" alt="">
                    <p>Pengaturan</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
<script src="../script/setting.js"></script>
</html>