<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/invoice.css">
    <title>Faktur Pembelian</title>
</head>
<body>

    <div class="back"><img src="../img/left-arrow-blue.png" alt=""></div>
    <div class="cotainer">
        
    </div>
    <div class="footer">
        <div class="cpr">500 | CopyRight 2023</div>
    </div>
    
</body>
<script>
    // Back to landing page button
    document.querySelector('.back img').addEventListener('click', function(e) {
        window.location.href = '/selling'
    })
</script>
</html>