<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/product.css">
    <title>Product</title>
</head>
<body>

    <!-- navbar / sidebar -->
    <div class="nav-btn" data-status="close"><img src="img/menu-blue.png" alt=""></div>
    <div class="nav-open display-none"></div>
    <div class="navbar">
        <div class="card" data-href="/home"><span class="img"><img src="img/homepage.png" alt=""></span><span>Beranda</span></div>
        <div class="card actived" data-href="/product"><span class="img"><img src="img/box.png" alt=""></span><span>Produk</span></div>
        <div class="card" data-href="/selling"><span class="img"><img src="img/cart1.png" alt=""></span><span>Penjualan</span></div>
        <div class="card" data-href="/purchase"><span class="img"><img src="img/cart.png" alt=""></span><span>Pembelian</span></div>
        <div class="card" data-href="/expenses"><span class="img"><img src="img/expenses.png" alt=""></span><span>Pengeluaran</span></div>
        <div class="card" data-href="/inclusion"><span class="img"><img src="img/rupiah.png" alt=""></span><span>Pemasukan Lain</span></div>
        <div class="card" data-href="/report"><span class="img"><img src="img/graph.png" alt=""></span><span>Laporan</span></div>
        <div class="card" data-href="/setting"><span class="img"><img src="img/settings.png" alt=""></span><span>Pengaturan</span></div>
    </div>

    <div class="container">
        <div class="first-content content">
            <div class="title"><h2>Barang</h2></div>
            <div class="box">
                <div class="box-list" data-href="/product/addStock">
                    <img src="img/addStock.png" alt="">
                    <p>Tambah Barang</p>
                </div>
                <div class="box-list" data-href="/product/editStock">
                    <img src="img/editStock2.png" alt="">
                    <p>Edit / Cek Barang</p>
                </div>
                <!-- <div class="box-list" data-href="/product/checkStock">
                    <img src="img/checkStock.png" alt="">
                    <p>Cek Barang / Stock</p>
                </div> -->
            </div>
        </div>
        <div class="second-content content">
            <div class="title"><h2>Gudang</h2></div>
            <div class="box">
                <% warehouse.forEach(x => { %>
                    <div class="box-list warehouse" data-href="/product/warehouseDetail/<%= x.id %>" data-id="<%= x.id %>">
                        <img src="img/warehouse1.png" alt="">
                        <p><%= x.name %></p>
                    </div>
                <% }) %>
                <div class="box-list" data-href="/product/addWarehouse">
                    <img src="img/addWarehouse.png" alt="">
                    <p>Tambah Gudang</p>
                </div>
            </div>
        </div>
    </div>

    <div class="warehouseContexMenu display-none" data-id="">
        <div class="item" data-link="/product/warehouse/edit/"><img src="img/pencil.png" alt=""> Edit gudang</div>
    </div>
    
</body>
<script src="script/product.js"></script>
<script>
    document.querySelectorAll('.warehouse').forEach(warehouse => {
        warehouse.addEventListener('contextmenu', function(e) {
            document.querySelector('.warehouseContexMenu').setAttribute('data-id', this.dataset.id)
            document.querySelector('.warehouseContexMenu').classList.remove('display-none')
            document.querySelector('.warehouseContexMenu').style.left = e.clientX + 'px'
            document.querySelector('.warehouseContexMenu').style.top = e.clientY + 'px'
        })
    })
    document.querySelectorAll('.warehouseContexMenu .item').forEach(item => {
        item.addEventListener('click', function(e) {
            location.href = this.dataset.link + this.parentElement.dataset.id
        })
    })
    document.body.addEventListener('click', function(e) {
        document.querySelector('.warehouseContexMenu').classList.add('display-none')
    })
</script>
</html>