<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/inventoryInitial.css">
    <title>Persediaan Awal</title>
</head>
<body>

    <div class="container">
        <form action="/setting/inventory/initial" method="POST" id="form">
            <div class="title">
                <h2><center>Persediaan Awal</center></h2>
            </div>
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nama Barang</th>
                            <th>Gudang</th>
                            <th>QTY</th>
                            <th>Satuan</th>
                            <th>Harga</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="number">1</td>
                            <td><input required type="text" name="name" id="name" class="input-data name"></td>
                            <td>
                                <select name="warehouse" id="warehouse" class="warehouse">
                                    <% warehouse.forEach(x => { %>
                                        <option value="<%= x.id %>"><%= x.name %></option>
                                    <% }) %>
                                </select>
                            </td>
                            <td><input required type="text" name="qty" id="qty" class="input-data only-number"></td>
                            <td><input required type="text" name="unit" id="unit" class="input-data"></td>
                            <td><input required type="text" name="price" id="price" class="input-data only-number price"></td>
                            <td><img src="../../img/plus.png" alt="" class="delete"></td>
                        </tr>
                    </tbody>
                </table>
                <div id="addButton"><img src="../../img/plus.png" alt=""></div>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn">Simpan</button>
            </div>
        </form>
    </div>
    
    <!-- <div class="refresh-btn">
        <button>Refresh</button>
    </div> -->

    <div class="display-none target"></div>

</body>
<script src="../../script/socket.io.js"></script>
<script>
    window.addEventListener('focus', function(e) {
        this.location.reload()
    })
    document.querySelectorAll('.only-number').forEach(x => {
        x.addEventListener('keydown', function(e) {
            if( isNaN(e.key) && e.key != 'Backspace' && e.key != 'ArrowLeft' && e.key != 'ArrowRight' && e.key != 'Tab' ) return e.preventDefault()
            if( e.code == 'Space' ) return e.preventDefault()
        })
        x.addEventListener('keyup', function(e) {
            if( this.value.length > 3 ) {
                let valBefore = this.value.split(',')
                let valAfter = valBefore.join('').split('').reverse()
                let val = []
            
                for( let i = 0; i < valAfter.join('').length; i+=3 ) {
                    val.push(valAfter.slice(i, i+3).reverse().join(''))
                }
                this.value = val.reverse()
            }
        })
    })

    document.getElementById('form').addEventListener('submit', function(e) {
        let duplicate = false

        const tableRows = document.querySelectorAll('tbody tr')
        const totalRows = tableRows.length
        let errorMessage = document.createElement('div')
        errorMessage.classList.add('error-message')
        errorMessage.textContent = 'Terdapat duplikasi'

        for (let i = 0; i < totalRows - 1; i++) {
            const currentItem = tableRows[i]
            const currentItemName = currentItem.querySelector('.name').value
            const currentItemWarehouse = currentItem.querySelector('.warehouse').value

            for (let j = i + 1; j < totalRows; j++) {
                const comparedItem = tableRows[j]
                const comparedItemName = comparedItem.querySelector('.name').value
                const comparedItemWarehouse = comparedItem.querySelector('.warehouse').value

                if ( currentItemName === comparedItemName && currentItemName !== "" && currentItemWarehouse === comparedItemWarehouse && currentItemWarehouse !== "" ) {
                    duplicate = true
                    errorMessage.textContent = `Terdapat duplikasi pada baris ke ${i + 1} dan baris ke ${j + 1}`
                    break
                }
            }

            if (duplicate) {
                document.body.appendChild(errorMessage)
                if( document.querySelector('.error-message') != undefined ) {
                    document.querySelector('.error-message').innerText = document.querySelector('.error-message').innerText.split('-').reduce((acc, curr) => acc + ' ' + curr)
                    
                    setTimeout(() => document.querySelector('.error-message').style.bottom = '20px', 500)
                    setTimeout(() => {
                        document.querySelector('.error-message').style.bottom = '-50px'
                        setTimeout(() => document.querySelector('.error-message').remove(), 1000)
                    }, 3200)
                }
                break
            }
        }

        if( duplicate ) return e.preventDefault()
    })

    const addButton = document.getElementById('addButton')
    addButton.addEventListener('click', function() {
        let duplicate = false

        const tableRows = document.querySelectorAll('tbody tr')
        const totalRows = tableRows.length
        let errorMessage = document.createElement('div')
        errorMessage.classList.add('error-message')

        for (let i = 0; i < totalRows - 1; i++) {
            const currentItem = tableRows[i]
            const currentItemName = currentItem.querySelector('.name').value
            const currentItemWarehouse = currentItem.querySelector('.warehouse').value

            for (let j = i + 1; j < totalRows; j++) {
                const comparedItem = tableRows[j]
                const comparedItemName = comparedItem.querySelector('.name').value
                const comparedItemWarehouse = comparedItem.querySelector('.warehouse').value

                if ( currentItemName === comparedItemName && currentItemName !== "" && currentItemWarehouse === comparedItemWarehouse && currentItemWarehouse !== "" ) {
                    duplicate = true
                    errorMessage.textContent = `Terdapat duplikasi pada baris ke ${i + 1} dan baris ke ${j + 1}`
                    break
                }
            }

            if (duplicate) {
                document.body.appendChild(errorMessage)
                if( document.querySelector('.error-message') != undefined ) {
                    document.querySelector('.error-message').innerText = document.querySelector('.error-message').innerText.split('-').reduce((acc, curr) => acc + ' ' + curr)
                    
                    setTimeout(() => document.querySelector('.error-message').style.bottom = '20px', 100)
                    setTimeout(() => {
                        document.querySelector('.error-message').style.bottom = '-50px'
                        setTimeout(() => document.querySelector('.error-message').remove(), 1000)
                    }, 3200)
                }
                break
            }
        }

        if( duplicate ) return e.preventDefault()

        const tbody = document.querySelector('tbody')
        const lastRow = tbody.lastElementChild
        const newRow = lastRow.cloneNode(true)
        const lastRowNumber = parseInt(lastRow.firstElementChild.textContent)
        newRow.firstElementChild.textContent = (lastRowNumber + 1).toString()
        newRow.querySelectorAll('.input-data').forEach(input => input.value = '')
        tbody.appendChild(newRow)
        newRow.querySelector('.delete').addEventListener('click', function() {
            if( document.querySelectorAll('.delete').length > 1 ) {
                const currentRow = this.parentElement.parentElement;
                currentRow.remove()
                updateNumbering()
            }
        })
        newRow.querySelectorAll('.only-number').forEach(x => {
            x.addEventListener('keydown', function(e) {
                if( isNaN(e.key) && e.key != 'Backspace' && e.key != 'ArrowLeft' && e.key != 'ArrowRight' && e.key != 'Tab' ) return e.preventDefault()
                if( e.code == 'Space' ) return e.preventDefault()
            })
            x.addEventListener('keyup', function(e) {
                if( this.value.length > 3 ) {
                    let valBefore = this.value.split(',')
                    let valAfter = valBefore.join('').split('').reverse()
                    let val = []
                
                    for( let i = 0; i < valAfter.join('').length; i+=3 ) {
                        val.push(valAfter.slice(i, i+3).reverse().join(''))
                    }
                    this.value = val.reverse()
                }
            })
        })
    })

    function updateNumbering() {
        const numberCells = document.querySelectorAll('.number')
        numberCells.forEach((cell, index) => {
            cell.textContent = (index + 1).toString()
        })
    }

    document.querySelector('.delete').addEventListener('click', function() {
        if( document.querySelectorAll('.delete').length > 1 ) {
            const currentRow = this.parentElement.parentElement
            currentRow.remove()
            updateNumbering()
        }
    })

    // document.querySelector('.add-warehouse-btn').addEventListener('click', function(e) {
    //     e.preventDefault()
    // })

    // document.querySelector('.refresh-btn button').addEventListener('click', function(e) {
    //     fetch('http://localhost:1400/setting/inventory/initial?newAccount=on').then(response => response.text()).then(data => {
    //         // console.log(data.split('<body>')[1].split('</body>')[0].split('<select name="warehouse" id="warehouse">')[1].split('</select>')[0])
    //         // document.querySelector('.target').innerHTML = data.split('<body>')[1].split('</body>')[0].split('<select name="warehouse" id="warehouse">')[1].split('</select>')[0]
    //         document.getElementById('warehouse').innerHTML = data.split('<body>')[1].split('</body>')[0].split('<select name="warehouse" id="warehouse">')[1].split('</select>')[0]
    //         document.querySelector('.refresh-btn').remove()
    //     }).catch(error => {
    //         console.error('Error:', error)
    //     })
    // })
</script>
</html>
